// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
  background: #f1f4f6 !important;
}

.navbar-light .navbar-brand {
  text-transform: uppercase !important;
  font-size: 25px !important;
  font-weight: 500 !important;

}
.navbar .navbar-expand-md .navbar-light .bg-white .shadow-sm {
  background-color: #FBFCFC !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.55);
  font-weight: 500;
}
.navbar-light .navbar-brand {
  color: #5D6D7E !important;
}
.card-header {
  font-size: 20px;
  font-weight: 500;
  color: #5D6D7E !important;
  background-color: #FBFCFC !important;
}


label {
  font-weight: 500;
  color: #5D6D7E !important;
}

button {
  background-color: #5D6D7E !important;
  font-size: 20px;
  border-color: #5D6D7E !important;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
  margin-bottom: 30px;
}
table.dataTable.no-footer {
  border-bottom:  none !important;
}
.table-dark {
  --bs-table-bg: #ffffff !important;
  --bs-table-striped-bg: #ffffff !important;
  --bs-table-striped-color: #5d6d7e !important;
  --bs-table-active-bg: #0077c7 !important;
  --bs-table-active-color: #fff !important;
  --bs-table-hover-bg: #f2f6fb !important;
  --bs-table-hover-color: #ab6f6f !important;
  color: #5d6d7e !important;
  border-color: #373b3e !important;
}

th .dt-center {
  background-color: #5d6d7e !important;
  color: white !important;
}
table.dataTable thead .sorting_asc {
  background-image: none !important;
}
table.dataTable thead .sorting {
  background-image: none !important;
}
table.dataTable thead .sorting_desc {
  background-image: none !important;
}

.dt-center .sorting_asc {
  width: 26px;
  color: white !important;
  background-color: #5d6d7e !important;
}

input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

select:focus {
  outline: none !important;
}

select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white !important;
}

.table>:not(:last-child)>:last-child>* {
  background-color: #5d6d7e !important;
  color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
   background: none !important;
  background-color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background-color: #5d6d7e !important;
  color: white  !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #40464a !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
